@import url('http://fonts.cdnfonts.com/css/triforce');

* {
  box-sizing: border-box;
}

body {
  /* background: #ddd; */
  background: url(../img/grass.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  width: 28px;
  height: 32px;
  background-image: url(../img/sprite.png);
}

.player.right {
  background-position: 0 -64px;
}

.player.left {
  background-position: 0 -32px;
}

.player.up {
  background-position: 0 -96px;
}

.player.down {
  background-position: 0 0;
}

#title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#paraph {
  font-size: 2rem;
}

#paraph span {
  font-size: 6rem;
}

.row {
  display: flex;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: rgb(173, 255, 47, 0);
  border: 2px solid #bcea68;
  display: flex;
  justify-content: center;
  align-items: center;
}

.targetCell {
  background-color: green;
}